<div id="container" class="card" >

  <div id="theTarget" class="card card-img">
    <div class="image1 card-img"></div>
    <div class="image2 card-img"></div>
    <div class="image3 card-img"></div>
    <div class="image4 card-img"></div>
    <div class="image5 card-img"></div>
  </div>
  <div class="card-img-overlay d-flex align-items-center justify-content-center px-0">
    <div class="col-12 col-md-10 col-xl-8 card-text"><%= render 'public/searches/form' %></div>
  </div>
</div>

<div class="container my-5">
  <div class="row h2 py-3 mt-3 mx-0">画像ジャンル</div>
  <div class="row flex-wrap pb-3 my-4">
    <% @genres.each do |genre| %>
    <div class="col-4 col-lg">
      <%= link_to genre_path(genre.id),class: "btn btn-light rounded-pill border text-dark text-decoration-none align-center px-2" do %>
        <div class="text-center">
        <%= genre.name %>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="row h2 py-3 my-md-3 my-1 mx-0">画像サンプル</div>
  <div class="row pb-5">
    <div class="line-images">
      <% @items.each do |item| %>
        <div class="line-image">
          <%= link_to item_path(item.id),class: "mx-0" do %>
            <% if item.content.present?%>
              <% if item.content.content_type.include?('image/')%>
                <%= image_tag item.content,class: "card-img-top image-fluid f-img" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
