<div class ="container">
  <div class ="row col-lg-8 d-flex justify-content-between mb-5 mt-5 mx-auto">
    <h3>注文履歴詳細</h3>
  </div>
  <div class="row col-lg-11 mx-auto px-0">
    <div class ="col-xl-4 py-3 px-0">
      <div class="row mx-0 py-2">
        <div class="col-5 font-weight-bold">購入者</div>
        <div class="col-7">
          <%= link_to admin_end_user_path(@order.end_user_id),class: "text-decoration-none" do %>
            <%= @order.end_user.name %>
          <% end %>
        </div>
      </div>
      <div class="row mx-0 py-2">
        <div class="col-5 font-weight-bold">注文日</div>
        <div class="col-7"><%= @order.created_at.strftime('%Y/%m/%d') %></div>
      </div>
      <div class="row mx-0 py-2">
        <div class="col-5 font-weight-bold">支払方法</div>
        <div class="col-7"><%=@order.payment_method_i18n %></div>
      </div>
    </div>
    <div class="col-xl-8">
      <div class ="row col-8 col-lg-6 py-3 px-0 mx-0">
        <div class="col-6 bg-secondary text-white py-2">合計額</div><div class="col-6 border border-left-0 py-2">¥<%=@order.total_payment.to_s(:delimited)%>円</div>
      </div>
      <div class ="row col-10 bg-secondary text-white py-2 px-0 mx-0">
        <div class="col-3 pr-0">商品ID</div>
        <div class="col-5 pr-0">商品名</div>
        <div class="col-4 pr-0">価格</div>
      </div>
      <% @order_details.each do |order_detail| %>
        <div class="row col-10 border border-top-0 py-2 px-0 mx-0">
          <div class="col-3 pr-0"><%=order_detail.item.id %></div>
          <div class="col-5 pr-0 text-short"><%=order_detail.item.name %></div>
          <div class="col-4 pr-0">¥<%= order_detail.item.add_tax_price.to_s(:delimited) %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
