<% if current_end_user.cart_items.count==0 %>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 mx-2 mx-sm-auto rounded py-5 my-5">
        <h2>カート内に商品がありません</h2>
      </div>
    </div>
  </div>

<% else %>

<div class="container px-0">
  <div class="row col-md-10 mx-0 px-0">
    <div class="col-md-7">
      <div class="row col-md-12 mx-0 px-0">
        <div class="col-6 my-5 px-0">
          <h3>カート(<%= @cart_items.count %>件)</h3>
        </div>
        <div class="col-6 my-5 px-0">
          <%= link_to "カートを空にする",cart_items_destroy_all_path,class: "btn mybtn btn-outline-danger rounded-pill border border-3" %>
        </div>
      </div>

      <% @cart_items.each do |cart_item| %>
        <div class="col-md-10">
          <div class="col-md-12 d-flex border border-3 rounded-lg my-2 py-2 px-2">
            <div class="col-4 shadow px-0">
              <% if cart_item.item.content.present?%>
                <% if cart_item.item.content.content_type.include?('image/')%>
                  <%= image_tag cart_item.item.content,class:"card-img-top image-fluid",size: "100" %>
                <% else %>
                  <%= video_tag rails_blob_path(cart_item.item.content), class: "card-img-top image-fluid",controls: true,size: "100" %>
                <% end%>
              <% end %>
            </div>
            <div class="col-8">
              <div class="d-flex justify-content-between">
                <div class="text-black-50 py-1">ID:<%=cart_item.item.id %></div>
                <div><%=cart_item.item.add_tax_price.to_s(:delimited) %></div>
              </div>
              <div class="pb-1"><%=cart_item.item.name %></div>
              <div class="pb-1 text-right"><%=link_to "削除",cart_item_path(cart_item), method: :delete,class: "btn btn-sm btn-outline-danger rounded-pill border border-3"%></div>
              <% @total_payment+= cart_item.item.add_tax_price %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-5">
      <div class="col-md-12">
        <div class="row col-md-12 mx-0 px-0">
          <div class="col-12 my-5 px-0">
            <h3>ご注文の内容</h3>
          </div>
        </div>
        <div class="col-md-12 border border-3 rounded-lg my-2 py-3 px-2">
          <% @cart_items.each do |cart_item| %>
            <div class="d-flex justify-content-between">
              <div>ID:<%=cart_item.item.id %>　<%=cart_item.item.name %></div>
              <div>¥<%=cart_item.item.add_tax_price.to_s(:delimited) %></div>
            </div>
          <% end %>
          <hr class="col-10">
          <div class="my-3 d-flex justify-content-between">
            <div>お支払い予定金額</div><div><%= @total_payment.to_s(:delimited) %></div>
          </div>
          <%=link_to "情報入力に進む",new_order_path,class:"btn btn-block mybtn btn-danger text-white tx-tfm rounded-pill"%>
          <%=link_to "ショッピングを続ける", items_path,class:"btn btn-block mybtn btn-outline-light tx-tfm rounded-pill border border-3 text-dark" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
