<div class ="container">
  <div class ="row d-flex justify-content-between mb-5 mt-5">
    <h3>会員一覧</h3><%= paginate @end_users %>
  </div>
  <div class ="row bg-secondary text-white py-3">
    <div class="col-12 d-flex">
    <div class="col-3">ID</div>
    <div class="col-3">氏名</div>
    <div class="col-3">メールアドレス</div>
    <div class="col-3">ステータス</div>
    </div>
  </div>
  <% @end_users.each do |end_user| %>
    <div class="row border border-top-0  py-3">
      <%= link_to admin_end_user_path(end_user), class: "col-12 d-flex text-dark text-decoration-none" do %>
        <div class="col-3 text-short"><%= end_user.id %></div>
        <div class="col-3"><%= end_user.name %> </div>
        <div class="col-3"><%= end_user.email %></div>
        <div class="col-3">
          <% if end_user.is_deleted == false %>
            <span class="text-success">有効</span>
          <% else %>
            <span class=text-secondary>退会</span>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="my-3"><%= paginate @end_users %></div>
</div>