<div class="container-fluid">
  <div class="row mx-0">
    <!--サイドバー-->
    <div class="col-md-2 border-right border-3 mt-4">
      <%= render "public/end_users/transition" %>
    </div>
   <!--購入履歴-->
    <div class="col-md-10">
      <div class="row col-12 my-5">
        <h2>購入履歴</h2>
      </div>
      <div class="row col-md-12">
        <div class="row col-md-12">
          <h4>購入一覧</h4>
        </div>
        <div class="row col-md-12 my-2">
          <div class="col-md-8 d-flex flex-wrap border border-2 rounded-lg px-0">
            <div class="col-3 py-2">購入日</div>
            <div class="col-3 py-2">画像・動画</div>
            <div class="col-3 py-2">支払金額</div>
            <div class="col-3 py-2">詳細</div>
  
            <% @orders.each do |order| %>
              <div class="col-3 border-top border-2 py-2"><%= order.created_at.strftime('%Y/%m/%d') %></div>
              <div class="col-3 border-top border-2 py-2">
                <% order.order_details.each do |order| %>
              		<%= order.item.name %>
              	<% end %>
            	</div>
              <div class="col-3 border-top border-2 py-2"><%= order.total_payment%></div>
              <div class="col-3 border-top border-2 py-2"><%= link_to "表示する", order_path(order.id), class: "btn btn-sm btn-outline-primary rounded-pill border border-2" %></div>
            <% end %>
            <%= paginate @orders %>
          </div>
        </div>
      </div>
    </div>
    <!--end-->
  </div>
</div>
