<div class="container px-0">
  <%= form_with model: @order,url: orders_confirm_path, method: :post, local: true do |f| %>
    <div class="row col-md-10 mx-0 px-0">
      <div class="col-md-7">
        <div class="row col-md-12 mx-0 px-0">
          <div class="col-6 my-5 px-0">
            <h3>お支払い方法選択</h3>
          </div>
        </div>
        <div class="col-md-10">
          <div class="col-md-12 d-flex border border-3 rounded-lg my-2 pl-2 pr-0">
            <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
            <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card], class: "col h5 my-auto py-2 px-2" %>
          </div>
        </div>
        <div class="col-md-10">
          <div class="col-md-12 d-flex border border-3 rounded-lg my-2 pl-2 pr-0">
            <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
            <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer], class: "col h5 my-auto py-2 px-2"%>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="col-md-12">
          <div class="row col-md-12 mx-0 px-0">
            <div class="col-12 my-5 px-0">
              <h3>ご注文の内容</h3>
            </div>
          </div>
          <div class="col-md-12 border border-3 rounded-lg my-2 py-3 px-2">
            <% @cart_items.each do |cart_item| %>
              <div class="d-flex justify-content-between">
                <div>ID:<%=cart_item.item.id %>　<%=cart_item.item.name %></div>
                <div>¥<%=cart_item.item.add_tax_price.to_s(:delimited) %></div>
              </div>
              <% @total_payment+= cart_item.item.add_tax_price %>
            <% end %>
            <hr class="col-10">
            <div class="my-3 d-flex justify-content-between">
              <div>お支払い金額</div><div>¥<%= @total_payment.to_s(:delimited)  %></div>
            </div>
            <%= f.submit "確認画面へ進む",class: 'btn btn-block mybtn btn-primary text-white tx-tfm rounded-pill' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
