<div class="container-fluid">
  <div class="row mx-0">
    <!--サイドバー-->
    <div class="col-md-2 border-right border-3 mt-4">
      <%= render "public/end_users/transition" %>
    </div>
    <!--購入履歴-->
    <div class="col-md-10">
      <div class="row col-12 my-5">
        <h2>購入履歴</h2>
      </div>
      <div class="row col-md-12 mb-4">
        <h4>購入詳細</h4>
      </div>

      <div class="row col-md-8">
        <!--購入情報テーブル-->
        <div class="col-md-7">
          <div class="col-md-12">
            <h5>購入情報</h5>
          </div>
          <div class="col-md-12 my-2 d-flex flex-wrap border border-2 rounded-lg px-0">
            <div class="col-6 py-2">購入日</div>
            <div class="col-6 py-2">支払方法</div>
            <div class="col-6 border-top border-2 py-2"><%=@order.created_at.strftime('%Y/%m/%d') %></div>
            <div class="col-6 border-top border-2 py-2"><%=@order.payment_method_i18n %></div>
          </div>
        </div>
        <!--請求情報テーブル-->
        <div class="col-md-5">
          <div class="col-md-12">
            <h5>請求情報</h5>
          </div>
          <div class="col-md-12 my-2 d-flex flex-wrap border border-2 rounded-lg px-0">
            <div class="col-6 py-2">合計金額</div>
            <div class="col-6 py-2 text-right"><%= (@order.total_payment).to_s(:delimited)%></div>
          </div>
        </div>
      </div>

      <div class="row col-md-8 mt-4">
        <!--購入内容テーブル-->
        <div class="col-md-12">
          <div class="col-md-12">
            <h5>購入内容</h5>
          </div>
          <div class="col-md-12 my-2 d-flex flex-wrap border border-2 rounded-lg px-0">
            <div class="col-6 py-2">商品</div>
            <div class="col-6 py-2">価格（税込み</div>
            <div class="col-6 border-top border-2 py-2">
              <% @order_details.each do |order_detail| %>
              <%= order_detail.item.name%>
              <% end %>
            </div>
            <div class="col-6 border-top border-2 py-2">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end-->
  </div>
</div>
