<div class ="container-fluid d-flex mt-5 pt-5">
  <div class ="row col-12 mt-5">
    <div class="col-6 offset-1 d-flex shadow-lg px-4 py-4">
      <table>
        <tr><td><%= image_tag @item.contents,size: "400x400" %></td></tr>
          <table class ="table table-sm table-borderless ml-5">
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td></td></tr>
            <tr><td><h5><%= @item.name %></h5></td></tr>
            <tr class ="mt-0 pt-0"><td><%= @item.introduction %></td></tr>
            <tr><td>
              <%= form_with model: @cart_item,method: :post,multipart: true do |f| %>
                <%=f.hidden_field :name, :value =>@item.name %>
                <%=f.hidden_field :item_id, :value =>@item.id %>
                <!--ログインしていない場合-->
                <% unless current_end_user.present? %>
                <% else %>
                  <%=f.hidden_field :end_user_id, :value =>current_end_user.id%>
                <%=f.hidden_field :image, :value =>@item.image %>
                <%= f.select :amount, *[1..9] %>
                <%= f.submit "カートに追加" ,class: "btn btn-sm btn-outline-primary"%>
                <% end %>
              <% end %>
            </td></tr>
          </table>
      　</table>
      </div>
    </div>
</div>


<div class="container mt-5">
<div class="row mb-5">
  <h3>商品詳細</h3>
</div>

  <div class="row col-12 justify-content-center shadow-lg px-4 py-5">

      <div class="col-6 d-flex justify-content-center">
        <%= content_tag @item.contents,size: "400x400" %><br>
      </div>

      <div class="col-6 d-flex justify-content-center">
        <table class = "table-sm">
          <body>
            <tr>
              <td class="col-2 align-top">商品名</td>
              <td  class ="col-4 align-top"><%= @item.name %></td>
            </tr>
            <tr>
              <td class ="align-top">商品説明</td>
              <td class ="align-top"><%= @item.introduction %></td>
            </tr>
            <tr>
              <td class ="align-top">ジャンル</td>
              <td class ="align-top"><%= @item.genre.name %></td>
            </tr>
             <tr>
              <td class ="align-top">カテゴリー</td>
              <td class ="align-top"><%= @item.category.name %></td>
            </tr>
            <tr>
              <td class ="align-top">価格</td>
              <td class ="align-top">円</td>
            </tr>

            <tr>
              <td><%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-sm btn-outline-success" %></td>
            </tr>

          </body>

        </table>

      </div>

  </div>
</div>
