<div class="container mt-5">
<div class="row col-12 mb-5 mx-0 justify-content-center justify-content-lg-start">
  <h3>商品詳細</h3>
</div>

  <div class="row col-12 col-xl-11 justify-content-center shadow-lg px-4 py-5 mx-auto">

    <div class="col-md-12 col-lg-6 d-flex justify-content-center s-400">
      <%= render "public/items/content", item: @item %>
      <br>
    </div>

    <div class="ol-md-12 col-lg-6">
      <div class="row mx-0 mp-0 justify-content-end">
        <div class="col-3 col-xl-2 d-flex align-items-center">
          <% if current_end_user.present? %>
            <% if current_end_user.ordered_items.ids.include?(@item.id) %>
              <%= render "public/items/download", item: @item %>
            <% end %>
          <% else %>
          <% end %>
        </div>
        <div class="col-3 col-xl-2 <%= "favorite-" + @item.id.to_s %>" >
          <% if current_end_user.present? %>
            <%= render "public/favorites/btn", item: @item %>
          <% end %>
        </div>
      </div>

      <div class="row col-12 mb-2">
        <div class="col-4 align-top">ID</div>
        <div class="col-8 align-top"><%= @item.id %></div>
      </div>

      <div class="row col-12 mb-2">
        <div class="col-4 align-top">タイトル</div>
        <div class="col-8 align-top"><%= @item.name %></div>
      </div>

      <div class="row col-12 mb-2">
        <div class="col-4 align-top">説明</div>
        <div class="col-8 align-top text-wrap text-break"><%= @item.introduction %></div>
      </div>

      <div class="row col-12 mb-2">
        <div class="col-4 align-top">ジャンル</div>
        <div class="col-8 align-top"><%= @item.genre.name %></div>
      </div>

      <div class="row col-12 mb-2">
        <div class="col-4 align-top">カテゴリー</div>
        <div class="col-8 align-top"><%= @item.category.name %></div>
      </div>

      <div class="row col-12 mb-2">
        <div class="col-4 align-top">価格</div>
        <div class="col-8 align-top">1000円</div>
      </div>
      <div class="row col-12 mb-2">
        <div class="col-4">タグ</div>
        <div class="col-8 dflex flex-wrap aline-center">
        <% @item.tags.each do |tag| %>
          <span class="badge badge-pill badge-info mx-1"><%= tag.name %></span>
        <% end %>
        </div>
      </div>
    </div>

    <!--ユーザーがログインしていない場合-->
    <% if current_end_user.nil? %>
      <div class="col-md-12 text-center mt-5"><%= link_to "カート追加", new_end_user_session_path, class: "btn btn-sm btn-outline-danger rounded-pill border border-3" %></div>
    <!--アイテムがログインユーザーの投稿した物である場合-->
    <% elsif @item.end_user_id == current_end_user.id %>
      <div class="col-md-12 text-center mt-5"><%= link_to "編集する", edit_item_path(@item.id), class: "btn btn-sm btn-outline-success rounded-pill border border-3" %></div>
    <!--アイテムが既に購入済みのものである場合-->
    <% elsif current_end_user.ordered_items.ids.include?(@item.id) %>
      <div class="col-md-12 text-center mt-5"><%= link_to "購入済", items_path, class: "btn btn-sm btn-outline-secondary rounded-pill border border-3" %></div>
    <!--それ以外の場合-->
    <% else %>
      <!--アイテムが既にカート内に存在する場合-->
      <% if current_end_user.cart_items.find_by(item_id: @item.id) %>
        <div class="col-md-12 text-center mt-5"><%= link_to "カート追加済", cart_items_path, class: "btn btn-sm btn-outline-secondary rounded-pill border border-3" %></div>
      <!--それ以外の場合-->
      <%else%>
        <div class="col-md-12 text-center mt-5">
          <%= form_with model: @cart_item, url: cart_items_path,  method: :post,multipart: true do |f| %>
            <%=f.hidden_field :item_id, :value => @item.id %>
            <%=f.hidden_field :end_user_id, :value =>current_end_user.id %>
            <%= f.submit "カート追加" ,class: "btn btn-sm btn-outline-primary rounded-pill border border-3"%>
          <% end %>
        </div>
      <% end %>
    <% end %>

  </div>
</div>
