<!DOCTYPE html>
<html>
  <head>
    <title>StockImage</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="shadow">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png',size: "150x45" %>
      <% end %>
    	<% if admin_signed_in? %>
      	<%= link_to '商品一覧', admin_items_path,class: "btn btn-sm btn-outline" %>
      	<%= link_to 'ユーザー一覧', admin_end_users_path,class: "btn btn-sm btn-outline" %>
      	<%= link_to 'ジャンル一覧', admin_genres_path,class: "btn btn-sm btn-outline-" %>
      	<%= link_to 'カテゴリー一覧', admin_categories_path,class: "btn btn-sm btn-outline-" %>
      	<%= link_to 'ログアウト', destroy_admin_session_path, method: :delete,class: "btn btn-sm btn-outline" %>
    	<% elsif end_user_signed_in? %> <%= current_end_user.name %>
      	<%= link_to 'プロフィール', end_user_path(current_end_user.id),class: "btn btn-sm btn-outline" %>
      	<%= link_to '商品一覧', items_path,class: "btn btn-sm btn-outline" %>
        <%= link_to cart_items_path do %>
      	  <i class="fa-solid fa-cart-shopping"></i>
      	<% end %>
      	<%= link_to 'ログアウト', destroy_end_user_session_path, method: :delete,class: "btn btn-sm btn-outline" %>
    	<% else %>
      	<%= link_to '商品一覧', items_path,class: "btn btn-sm btn-outline" %>
      	<%= link_to cart_items_path do %>
      	  <i class="fa-solid fa-cart-shopping" style="color: black;"></i>
      	<% end %>
      	<%= link_to 'サインアップ', new_end_user_registration_path,class: "btn btn-sm btn-outline" %>
      	<%= link_to 'ログイン', new_end_user_session_path,class: "btn btn-sm btn-outline" %>
    	<% end %>

    </header>
    <main>
      <%= yield %>
    </main>
    <footer class="fixed-bottom">

    </footer>
  </body>
</html>
